/* styles.css */
body {
   background-color: rgba(232, 232, 232, 0.505)
}

.container {
   display: flex;
   width: fit-content;
   flex-direction: row;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 10px;
   justify-content: center;
   max-width: 500px;
   max-top: 0 auto;
}

.explanation {
   color: #5d7426;
   width: 40%;
   padding: 10px;
   background: whitesmoke;
   font-size: small;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: justify;

}



.calculator {
   color: darkgoldenrod;
   width: 50%;
   margin: 0 auto;
   padding: 10px;

   position: relative;
   /* Чтобы задать абсолютное позиционирование для блока result */

   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flexbox;
}



#chartContainer {
   width: 100%;
   height: 300px;
   /* Настройте высоту по вашему усмотрению */
}

#chart {
   width: 100%;
   height: 100%;
}

input[type="number"] {
   width: 90%;
   height: 30px;
   padding: auto;
   border-radius: 2px;
   background-color: rgb(242, 228, 206);
   margin: 10px;
   border: none;
   border-bottom: 1px dotted #947434;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: medium;
   outline: none;
   color: burlywood;
   font: #0000;
}

input:active {
   outline: none;

}

button {
   border-radius: 5px;

   padding: 10px;
   margin-top: 10px;
   background-color: #ff8c00;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

button:hover {
   background-color: #0056b3;
}

button:active {
   background-color: #083565;
   color: gold;
}

.hidden {
   display: none;
   /* Скрыть элемент */
}

#result {
   position: absolute;
   top: calc(104%);
   left: 0;
   color: rgb(246, 182, 93);
   /* Расположить блок под основным блоком с отступом 10px */
   /* Расположить блок под основным блоком с отступом 10px */
   width: 90%;
   margin: 10px;
   /* Занимать всю доступную ширину */
   background-color: #fff;
   /* фон блока */
   border: 1px solid #ccc;
   /* рамка блока */
   padding: 10px;
   /* отступы внутри блока */
   z-index: 1;
   /* устанавливаем уровень слоя */
   border-radius: 10px;
}